/**
 * Main color set.
 */
$yellow-light:  #FDD98F;
$yellow:        #FBB320;
$teal-medium:   #0C87A8;
$teal:          #016D8A;
$teal-dark:     #074C5F;
$violet-medium: #4B3C9D;
$violet:        #35287C;
$violet-dark:   #282343;

$primaryColor: $yellow;
$secondaryColor: $violet;
