@font-face {
  font-family: 'Open Sans';
  src        : url('../vendor/font/Open_Sans/OpenSans-Light.ttf') format("truetype");
  font-weight: 300;
  font-style : normal;
}
@font-face {
  font-family: 'Open Sans';
  src        : url('../vendor/font/Open_Sans/OpenSans-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style : italic;
}
@font-face {
  font-family: 'Open Sans';
  src        : url('../vendor/font/Open_Sans/OpenSans-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style : normal;
}
@font-face {
  font-family: 'Open Sans';
  src        : url('../vendor/font/Open_Sans/OpenSans-Italic.ttf') format("truetype");
  font-weight: 400;
  font-style : italic;
}
@font-face {
  font-family: 'Open Sans';
  src        : url('../vendor/font/Open_Sans/OpenSans-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style : normal;
}
@font-face {
  font-family: 'Open Sans';
  src        : url('../vendor/font/Open_Sans/OpenSans-SemiBoldItalic.ttf') format("truetype");
  font-weight: 600;
  font-style : italic;
}
@font-face {
  font-family: 'Open Sans';
  src        : url('../vendor/font/Open_Sans/OpenSans-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style : normal;
}
@font-face {
  font-family: 'Open Sans';
  src        : url('../vendor/font/Open_Sans/OpenSans-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style : italic;
}
@font-face {
  font-family: 'Open Sans';
  src        : url('../vendor/font/Open_Sans/OpenSans-ExtraBold.ttf') format("truetype");
  font-weight: 800;
  font-style : normal;
}
@font-face {
  font-family: 'Open Sans';
  src        : url('../vendor/font/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format("truetype");
  font-weight: 800;
  font-style : italic;
}

%opensans {
  font-family: 'Open Sans', sans-serif;
}