body{
    font-size: 16px;
}

video {
    width: 100%;
    object-fit: cover;
}

section {
    margin-bottom: 1em;
}

.ui.button[name="startScanning"] {
    margin-bottom: .5em;
}

#mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(117, 117, 117, 0.8);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}

.ui.grid > .column.hide{
    display: none;
}
